<%- include('./includes/part_view_head') %>

<%- include('./includes/part_view_navbar') %>

  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-3">
        <h1 class="text-center">Criar conta</h1>
        <p class="text-center lead">Faça login ou registre-se abaixo</p>
        <%- include('./includes/messages'); %>
      </div>

      <div class="row">

        <div class="col-lg my-4">
          <h4>Cadastre-se</h4>
          <p>Se ainda não possui conta, preencha o formulário abaixo.</p>
          
          <form class="form-cadastro" action="/login/register" method="POST">
            <div class="mb-3">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <label for="name" class="form-label">Seu nome</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Nome">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Seu e-mail</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="E-mail">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Sua senha</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
          </form>

        </div>


        <div class="col-lg my-4">
          <h4>Faça login</h4>
          <p>Se já possui uma conta, realize login abaixo</p>
          
          <form class="form-login" action="/login/login" method="POST">
            <div class="mb-3">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <label for="emailLogin" class="form-label">Seu e-mail</label>
              <input type="email" class="form-control" name="email" id="emailLogin" placeholder="E-mail">
            </div>
            <div class="mb-3">
              <label for="passwordLogin" class="form-label">Sua senha</label>
              <input type="password" class="form-control" name="password" id="passwordLogin" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-login btn-primary">Entrar</button>
          </form>

        </div>
      </div>
      
      <div class="col-lg-2"></div>
    </div>
  </div>

<%- include('./includes/part_view_footer') %>

    